{% extends 'index.html' %}

{% block content %}
    <section id="logout" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Logout</h2>
        </div>
        <div class="row g-0">
            <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
                <form action="{% url 'account:logout' %}" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
                    {% csrf_token %}
                    <p>Are you sure? Log out?</p>
                    <div class="text-center">
                        <button type="submit">Yes, log out</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
