{% extends 'index.html' %}

{% block content %}
<section id="category-detail" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h2>{{ category.name }}</h2>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-lg-4 col-md-6 product">
                    <a href="{% url 'shop:product_detail' product.pk %}">
                        {% if product.photo %}
                            <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid">
                        {% endif %}
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }} USD</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
