<section id="products" class="section-bg">
    <div class="container">
        <div class="section-header">
            <h2>Products</h2>
        </div>
        <div class="row">
            {% for category, products in categories_with_limited_products %}
                <div class="col-12">
                    <h3><a href="{% url 'category_detail' category.pk %}">{{ category.name }}</a></h3>
                </div>
                {% for product in products %}
                    <div class="col-lg-4 col-md-6 product">
                        {% if product.photo %}
                            <a href="{% url 'product_detail' product.pk %}">
                                <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="img-fluid">
                            </a>
                        {% endif %}
                        <h3><a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a></h3>
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }} USD</p>
                    </div>
                {% endfor %}
                {% if category.prods.count > 3 %}
                    <div class="col-12">
                        <a href="{% url 'category_detail' category.pk %}">See more...</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
